/* general styling */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

input[type='checkbox'] {
    width: 5% !important;
}

form {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    opacity: 1;
    font-size: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(left, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 61%, rgba(247, 247, 247, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(36%, rgba(255, 255, 255, 1)), color-stop(61%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(247, 247, 247, 1)));
    background: -webkit-linear-gradient(left, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 61%, rgba(247, 247, 247, 1) 100%);
    background: -o-linear-gradient(left, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 61%, rgba(247, 247, 247, 1) 100%);
    background: -ms-linear-gradient(left, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 61%, rgba(247, 247, 247, 1) 100%);
    background: linear-gradient(to right, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 61%, rgba(247, 247, 247, 1) 100%);
}

/* MAIN */

#alx-main {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* GROUPS */ 

.alx-group-title,
.alx-group-description {
    border: 1px solid transparent;
}

/* BOTTOM NAVIGATION */

.alx-page-nav-button-previous {
    float: left;
}

.alx-page-nav-button-next {
    float: right;
}

/* CONTROLLERS */

#alx-save-load-button-container {
    padding: 2vh 0;
}

#alx-save-load-button-container:after {
    content: "";
    display: table;
    clear: both;
}

#alx-save-load-button-container button {
    float: left;
}

#alx-save-load-button-container #target_form_logout {
    float: right;
}

#alx-save-load-button-container #target_form_logout,
#alx-save-load-button-container button {
    font-size: 0.6rem;
    background-color: #fff;
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 0.5em 2em;
    margin-right: 0.5em;
}

/* ERRORS */

.alx-form-input-wrapper input.error,
.alx-form-input-wrapper select.error,
.alx-form-input-wrapper textarea.error {
    color: #b94a48 !important;
    border-color: #e9322d !important;
}

.alx-form-input-wrapper label.error,
.alx-backend-error .errorlist {
    display: block;
    padding: 0.5em 0.6em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25em;
    background-color: #d9534f;
    z-index: 2;
}

.alx-backend-error {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25em;
    background-color: #d9534f;
    z-index: 2;
}

.alx-backend-error ul {
    list-style: none;
}

#alx-main {
    position: relative;
}